<a href="https://colab.research.google.com/github/gabrielborja/python_data_analysis/blob/main/ecuador_analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ecuador Volcanoes Analysis

Ecuador is located at the center of the world, and is aslo known as the land of volcanoes. Data about Ecuador volcanoes can be found [here](https://en.wikipedia.org/wiki/List_of_volcanoes_in_Ecuador)

## Uploading packages and data

In [ ]:
#!pip freeze

In [1]:
#Importing data manipulation packages
import numpy as np
import pandas as pd

##Retrieving data from URL

In [8]:
#Parsing tables from URL
ecu_tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_volcanoes_in_Ecuador',
                           attrs = {'class': 'wikitable sortable'})

In [15]:
#Saving table 1 to dataframe for mainland volcanoes
ecu_main = ecu_tables[0]
ecu_main.tail()

          Name  ...              Last Eruption
28       Soche  ...                          -
29      Sumaco  ...                       1933
30     Tulabug  ...                   Holocene
31  Tungurahua  ...                       2016
32    Yanaurcu  ...  60,600 ± 20,000 years ago

[5 rows x 5 columns]

In [14]:
#Save table 2 to dataframe for galapagos volcanoes
ecu_galap = ecu_tables[1]
ecu_galap.tail()

             Name  Meters  ...                        Coordinates Last Eruption
10  San Cristóbal     759  ...  0°53′S 89°30′W﻿ / ﻿0.88°S 89.50°W             -
11     Santa Cruz     964  ...  0°37′S 90°20′W﻿ / ﻿0.62°S 90.33°W             -
12       Santiago     920  ...  0°13′S 90°46′W﻿ / ﻿0.22°S 90.77°W          1906
13   Sierra Negra    1124  ...  0°50′S 91°10′W﻿ / ﻿0.83°S 91.17°W          2018
14           Wolf    1710  ...  0°01′N 91°21′W﻿ / ﻿0.02°N 91.35°W          2015

[5 rows x 5 columns]

In [16]:
#Insert column to classify mainland volcanoes vs galapagos volcanoes
ecu_main['Category'] = 'Mainland'
ecu_galap['Category'] = 'Galapagos'

In [18]:
#Concatenate both dataframes
ecu_volc = pd.concat([ecu_main, ecu_galap], ignore_index=True)
ecu_volc.shape

(48, 6)

##Data Cleaning

In [22]:
#Checking the concatenated dataframe tail
ecu_volc.head()

                    Name Meters  ... Last Eruption  Category
0  El Altar / Kapak Urku   5405  ...       Unknown  Mainland
1               Antisana   5753  ...          1802  Mainland
2                Atacazo   4463  ...             -  Mainland
3           Carihuairazo   5018  ...       Unknown  Mainland
4                Cayambe   5790  ...          1786  Mainland

[5 rows x 6 columns]

In [23]:
#Replace first value of coordinates column with correct DMS coordinate
ecu_volc['Coordinates'][0] = '1.68°S 78.42°W'

In [24]:
#Unique values
ecu_volc['Coordinates'].unique()

array(['1.68°S 78.42°W',
       '0°28′52″S 78°08′24″W\ufeff / \ufeff0.481°S 78.14°W',
       '0°21′11″S 78°37′01″W\ufeff / \ufeff0.353°S 78.617°W',
       '01°24′25″S 78°45′00″W\ufeff / \ufeff1.40694°S 78.75000°W',
       '0°01′44″N 77°59′10″W\ufeff / \ufeff0.029°N 77.986°W',
       '0°22′S 78°15′W\ufeff / \ufeff0.37°S 78.25°W',
       '0°47′52″N 77°57′3″W\ufeff / \ufeff0.79778°N 77.95083°W',
       '01°28′09″S 78°49′03″W\ufeff / \ufeff1.46917°S 78.81750°W',
       '0°26′S 77°43′W\ufeff / \ufeff0.43°S 77.72°W',
       '0°21′39″N 78°20′57″W\ufeff / \ufeff0.36083°N 78.34917°W',
       '0°40′37″S 78°26′10″W\ufeff / \ufeff0.677°S 78.436°W',
       '0°18′30″N 78°21′50″W\ufeff / \ufeff0.30833°N 78.36389°W',
       '0°09′N 78°08′W\ufeff / \ufeff0.15°N 78.14°W',
       '0°39′32″S 78°42′50″W\ufeff / \ufeff0.659°S 78.714°W',
       '0°16′N 78°11′W\ufeff / \ufeff0.26°N 78.18°W',
       '1°46′48″S 78°36′47″W\ufeff / \ufeff1.78°S 78.613°W',
       '0°08′N 78°16′W\ufeff / \ufeff0.13°N 78.27°W', nan,
       '0°28′S 78°29′W\ufeff / \ufeff0.46°S 78.48°W',
       '0°10′16″S 78°35′53″W\ufeff / \ufeff0.171°S 78.598°W',
       '8°31′N 78°22′W\ufeff / \ufeff8.517°N 78.367°W',
       '0°02′17″N 78°27′47″W\ufeff / \ufeff0.038°N 78.463°W',
       '0°51′S 78°54′W\ufeff / \ufeff0.85°S 78.90°W',
       '0°00′25″S 77°39′00″W\ufeff / \ufeff0.007°S 77.65°W',
       '0°38′0″S 78°32′0″W\ufeff / \ufeff0.63333°S 78.53333°W',
       '2°02′S 78°20′W\ufeff / \ufeff2.03°S 78.34°W',
       '0°32′44.86″S 78°21′59.69″W\ufeff / \ufeff0.5457944°S 78.3665806°W',
       '0°33′07″N 77°34′48″W\ufeff / \ufeff0.552°N 77.580°W',
       '0°32′S 77°37′W\ufeff / \ufeff0.53°S 77.62°W',
       '1°28′01″S 78°26′31″W\ufeff / \ufeff1.467°S 78.442°W',
       '0°29′55″N 78°20′02″W\ufeff / \ufeff0.49849°N 78.33389°W',
       '0°26′S 91°07′W\ufeff / \ufeff0.43°S 91.12°W',
       '0°54′S 91°25′W\ufeff / \ufeff0.90°S 91.42°W',
       '0°11′S 91°17′W\ufeff / \ufeff0.18°S 91.28°W',
       '0°01′12″S 91°32′46″W\ufeff / \ufeff0.02°S 91.546°W',
       '0°22′S 91°33′W\ufeff / \ufeff0.37°S 91.55°W',
       '1°18′S 90°27′W\ufeff / \ufeff1.30°S 90.45°W',
       '0°47′31″N 86°09′00″W\ufeff / \ufeff0.792°N 86.15°W',
       '0°19′12″N 89°57′29″W\ufeff / \ufeff0.32°N 89.958°W',
       '0°20′S 90°28′W\ufeff / \ufeff0.33°S 90.47°W',
       '0°35′S 90°45′W\ufeff / \ufeff0.58°S 90.75°W',
       '0°53′S 89°30′W\ufeff / \ufeff0.88°S 89.50°W',
       '0°37′S 90°20′W\ufeff / \ufeff0.62°S 90.33°W',
       '0°13′S 90°46′W\ufeff / \ufeff0.22°S 90.77°W',
       '0°50′S 91°10′W\ufeff / \ufeff0.83°S 91.17°W',
       '0°01′N 91°21′W\ufeff / \ufeff0.02°N 91.35°W'], dtype=object)

In [ ]:
#import re
#lat = '''51°36'9.18"N'''
#deg, minutes, seconds, direction =  re.split('[°\'"]', lat)
#(float(deg) + float(minutes)/60 + float(seconds)/(60*60)) * (-1 if direction in ['W', 'S'] else 1)