<a href="https://colab.research.google.com/github/gabrielborja/python_data_analysis/blob/main/ecuador_analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ecuador Volcanoes Analysis

Ecuador is located at the center of the world, and is aslo known as the land of volcanoes. Data about Ecuador volcanoes can be found [here](https://en.wikipedia.org/wiki/List_of_volcanoes_in_Ecuador)

## Uploading packages and data

In [ ]:
#!pip freeze

In [1]:
#Importing data manipulation packages
import numpy as np
import pandas as pd

##Retrieving data from URL

In [2]:
#Parsing tables from URL
ecu_tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_volcanoes_in_Ecuador',
                           attrs = {'class': 'wikitable sortable'})

In [3]:
#Saving table 1 to dataframe for mainland volcanoes
ecu_main = ecu_tables[0]
ecu_main.tail()

          Name  ...              Last Eruption
28       Soche  ...                          -
29      Sumaco  ...                       1933
30     Tulabug  ...                   Holocene
31  Tungurahua  ...                       2016
32    Yanaurcu  ...  60,600 ± 20,000 years ago

[5 rows x 5 columns]

In [4]:
#Saving table 2 to dataframe for galapagos volcanoes
ecu_galap = ecu_tables[1]
ecu_galap.tail()

             Name  Meters  ...                        Coordinates Last Eruption
10  San Cristóbal     759  ...  0°53′S 89°30′W﻿ / ﻿0.88°S 89.50°W             -
11     Santa Cruz     964  ...  0°37′S 90°20′W﻿ / ﻿0.62°S 90.33°W             -
12       Santiago     920  ...  0°13′S 90°46′W﻿ / ﻿0.22°S 90.77°W          1906
13   Sierra Negra    1124  ...  0°50′S 91°10′W﻿ / ﻿0.83°S 91.17°W          2018
14           Wolf    1710  ...  0°01′N 91°21′W﻿ / ﻿0.02°N 91.35°W          2015

[5 rows x 5 columns]

In [5]:
#Creating categories for volcanoes location
ecu_main['Category'] = 'Mainland'
ecu_galap['Category'] = 'Galapagos'

In [6]:
#Concatenating both dataframes
ecu_volc = pd.concat([ecu_main, ecu_galap], ignore_index=True)
ecu_volc.shape

(48, 6)

##Data Cleaning

In [7]:
#Importing necessary packages
import re

In [8]:
#Checking the dataframe head
ecu_volc.head()

                    Name Meters  ... Last Eruption  Category
0  El Altar / Kapak Urku   5405  ...       Unknown  Mainland
1               Antisana   5753  ...          1802  Mainland
2                Atacazo   4463  ...             -  Mainland
3           Carihuairazo   5018  ...       Unknown  Mainland
4                Cayambe   5790  ...          1786  Mainland

[5 rows x 6 columns]

In [9]:
#Replacing preliminary missing/incorrect values
ecu_volc['Name'][0] = 'El Altar'
ecu_volc['Coordinates'][0] = '1.68°S 78.42°W / 1.68°S 78.42°W' #==> El Altar
ecu_volc['Meters'][12] = 3719 #==> Cusin
ecu_volc['Meters'][17] = 4453 #==> Ninahuilca
ecu_volc['Last Eruption'][17] = '2300 AD'
ecu_volc['Coordinates'][17] = '0.3535°S 78.617°W / 0.3535°S 78.617°W' #==> Ninahuilca
ecu_volc['Meters'][21] = 4453 #==> Pilavo
ecu_volc['Coordinates'][21] = '0.53°N 78.37°W / 0.53°N 78.37°W' #==> Pilavo

In [10]:
#Calculating missing values from Feet column
ecu_volc['Feet'] = ecu_volc['Feet'].replace(to_replace='-', value=np.nan)
ecu_volc = ecu_volc.assign(Feet = np.where(ecu_volc['Feet'].isin([np.nan]), ecu_volc['Meters'].astype(int)*3.28, ecu_volc['Feet']))

In [11]:
#Extracting coordinates into separate list of lists

def split_coord(x):
  try:
    val = str(x.split('/')[1].strip()).replace('\ufeff', '')
    return re.split('[\° ]', val)
  except AttributeError:
    return ['NA', 'NA' 'NA', 'NA']

ecu_volc = ecu_volc.assign(String_coord = ecu_volc['Coordinates'].apply(split_coord))
ecu_volc.head()

           Name Meters  ...  Category               String_coord
0      El Altar   5405  ...  Mainland        [1.68, S, 78.42, W]
1      Antisana   5753  ...  Mainland       [0.481, S, 78.14, W]
2       Atacazo   4463  ...  Mainland      [0.353, S, 78.617, W]
3  Carihuairazo   5018  ...  Mainland  [1.40694, S, 78.75000, W]
4       Cayambe   5790  ...  Mainland      [0.029, N, 77.986, W]

[5 rows x 7 columns]

In [12]:
#Splitting list of lists into columns for latitude and longitude
ecu_volc = ecu_volc.assign(Lat = [i[0] for i in ecu_volc['String_coord']],
                           Lat_char = [i[1] for i in ecu_volc['String_coord']],
                           Lon = [i[2] for i in ecu_volc['String_coord']],
                           Lon_char = [i[3] for i in ecu_volc['String_coord']])
ecu_volc.head()

           Name Meters   Feet  ... Lat_char       Lon Lon_char
0      El Altar   5405  17730  ...        S     78.42        W
1      Antisana   5753  18870  ...        S     78.14        W
2       Atacazo   4463  14639  ...        S    78.617        W
3  Carihuairazo   5018  16463  ...        S  78.75000        W
4       Cayambe   5790  18991  ...        N    77.986        W

[5 rows x 11 columns]

In [13]:
#Assigning negative values to latitude and longitude (If 'S' or 'W' = negative coordinate)
ecu_volc = ecu_volc.assign(Lat = np.where(ecu_volc['Lat_char'].isin(['S']), ecu_volc['Lat'].astype(float)*-1, ecu_volc['Lat'].astype(float)),
                           Lon = np.where(ecu_volc['Lon_char'].isin(['W']), ecu_volc['Lon'].astype(float)*-1, ecu_volc['Lat'].astype(float)))
ecu_volc.head()

           Name Meters   Feet  ... Lat_char     Lon Lon_char
0      El Altar   5405  17730  ...        S -78.420        W
1      Antisana   5753  18870  ...        S -78.140        W
2       Atacazo   4463  14639  ...        S -78.617        W
3  Carihuairazo   5018  16463  ...        S -78.750        W
4       Cayambe   5790  18991  ...        N -77.986        W

[5 rows x 11 columns]

In [41]:
#print([(a, b) for a, b in zip(ecu_volc['Lon'], ecu_volc['Lon_char'])])

[(-78.42, 'W'), (-78.14, 'W'), (-78.617, 'W'), (-78.75, 'W'), (-77.986, 'W'), (-78.25, 'W'), (-77.95083, 'W'), (-78.8175, 'W'), (-77.72, 'W'), (-78.34917, 'W'), (-78.436, 'W'), (-78.36389, 'W'), (-78.14, 'W'), (-78.714, 'W'), (-78.18, 'W'), (-78.613, 'W'), (-78.27, 'W'), (-78.617, 'W'), (-77.72, 'W'), (-78.48, 'W'), (-78.598, 'W'), (-78.367, 'W'), (-78.463, 'W'), (-78.9, 'W'), (-77.65, 'W'), (-78.53333, 'W'), (-78.34, 'W'), (-78.3665806, 'W'), (-77.58, 'W'), (-77.62, 'W'), (-78.613, 'W'), (-78.442, 'W'), (-78.33389, 'W'), (-91.12, 'W'), (-91.42, 'W'), (-91.28, 'W'), (-91.546, 'W'), (-91.55, 'W'), (-90.45, 'W'), (-86.15, 'W'), (-89.958, 'W'), (-90.47, 'W'), (-90.75, 'W'), (-89.5, 'W'), (-90.33, 'W'), (-90.77, 'W'), (-91.17, 'W'), (-91.35, 'W')]

In [14]:
#Checking for missing values in the dataframe
ecu_volc.isna().sum()

Name             0
Meters           0
Feet             0
Coordinates      0
Last Eruption    1
Category         0
String_coord     0
Lat              0
Lat_char         0
Lon              0
Lon_char         0
dtype: int64

In [15]:
#Exporting to csv in local disk
from google.colab import files
ecu_volc.to_csv('volcanoes_ecuador.csv', index=False) #==> Excluding index from file
files.download('volcanoes_ecuador.csv')

##Data Visualization

In [ ]:
#Remove previous versions of the uploaded file
!rm volcanoes_ecuador.csv

In [ ]:
#Uploading file from local drive
from google.colab import files
uploaded1 = files.upload()

In [ ]:
#Storing dataset in a Pandas Dataframe
import io
ecu_volc = pd.read_csv(io.BytesIO(uploaded1['volcanoes_ecuador.csv']))