<a href="https://colab.research.google.com/github/gabrielborja/python_data_analysis/blob/main/email_analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Working with mbox files

Message format <hr>
The basic Internet message format used for email is defined by RFC 5322.
Internet email messages consist of two sections, 'header' and 'body'. These are known as 'content'.
The header is structured into fields such as From, To, CC, Subject, Date, and other information about the email.
The body contains the message, as unstructured text, sometimes containing a signature block at the end. The header is separated from the body by a blank line.
More information can be found [here](https://en.wikipedia.org/wiki/Email#Header_fields)

## Uploading packages and data

In [1]:
#Importing necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mailbox

In [2]:
#Remove previous versions of the uploaded excel file
!rm email_list.json

In [3]:
#Uploading file from local drive
from google.colab import files
uploaded = files.upload()

Saving email_list.json to email_list.json

In [ ]:
#Storing json in a Pandas Dataframe
import io
df = pd.read_json(io.BytesIO(uploaded['email_list.json']))

##Data cleaning

In [5]:
#Checking the dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1480 non-null   object
 1   From     1480 non-null   object
 2   Subject  1480 non-null   object
dtypes: object(3)
memory usage: 34.8+ KB

In [46]:
df.Date.replace?

In [6]:
#Replace Unknown Timezones: i.e. CDT, CST, GMT-05:00, -05..
#df[df['Date'].str.contains('CDT|CST', regex=True)]
df['Date'] = df['Date'].replace(to_replace=r'CDT|CST', value='UTC', regex=True)

In [7]:
#Parsing strings to datetime object and converting to Oslo time zone
df['Event'] = df['Date']
df['Event'] = pd.to_datetime(df['Date'], errors='coerce', utc=True, format='%Y-%m-%d %H:%M:%S', infer_datetime_format=True).dt.tz_convert('Europe/Oslo')

In [8]:
#Checking the dataframe head
df.head()

                              Date  ...                     Event
0        6 Jun 2021 11:12:43 -0500  ... 2021-06-06 18:12:43+02:00
1  Sat, 05 Jun 2021 12:57:48 -0700  ... 2021-06-05 21:57:48+02:00
2   Mon, 7 Jun 2021 06:55:46 +0000  ... 2021-06-07 08:55:46+02:00
3  Mon, 07 Jun 2021 14:03:55 -0600  ... 2021-06-07 22:03:55+02:00
4  Sat, 29 May 2021 07:02:53 +0000  ... 2021-05-29 09:02:53+02:00

[5 rows x 4 columns]

In [9]:
#Checking dataframe info after formatting dates
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1480 non-null   object
 1   From     1480 non-null   object
 2   Subject  1480 non-null   object
 3   Event    1469 non-null   datetime64[ns, Europe/Oslo]
dtypes: datetime64[ns, Europe/Oslo](1), object(3)
memory usage: 46.4+ KB

In [10]:
#Checking invalid timestamps
df[df['Event'].isnull()]

                                             Date  ... Event
240   Tue, 18 May 2021 09:41:04 -0500 (GMT-05:00)  ...   NaT
351         Wed, 21 Oct 2020 05:00:41 -0500 (-05)  ...   NaT
384   Wed, 14 Oct 2020 13:09:24 -0500 (GMT-05:00)  ...   NaT
967   Wed, 14 Oct 2020 13:10:22 -0500 (GMT-05:00)  ...   NaT
1050        Fri, 20 Mar 2020 20:05:00 -0500 (-05)  ...   NaT
1062  Wed, 18 Dec 2019 07:34:46 -0500 (GMT-05:00)  ...   NaT
1254  Sat, 23 Nov 2019 08:01:25 -0500 (GMT-05:00)  ...   NaT
1290        Sat, 21 Mar 2020 18:00:48 -0500 (-05)  ...   NaT
1338  Tue, 26 May 2020 08:00:11 -0500 (GMT-05:00)  ...   NaT
1443  Thu, 10 Oct 2019 04:55:06 -0500 (GMT-05:00)  ...   NaT
1456  Sat, 23 Nov 2019 07:33:03 -0500 (GMT-05:00)  ...   NaT

[11 rows x 4 columns]

In [74]:
wrong_date = [d for d in df['Date'] if '(' in d]
wrong_date[:11]

['Tue, 25 May 2021 17:14:59 +0000 (UTC)',
 'Thu, 03 Jun 2021 05:48:41 +0000 (UTC)',
 'Sun, 6 Jun 2021 11:41:03 -0500 (ECT)',
 'Sun, 6 Jun 2021 09:02:17 -0500 (ECT)',
 'Sun, 6 Jun 2021 09:01:17 -0500 (ECT)',
 'Sun, 6 Jun 2021 08:57:38 -0500 (ECT)',
 'Fri, 21 May 2021 05:52:58 +0000 (UTC)',
 'Thu, 20 May 2021 20:12:50 +0000 (UTC)',
 'Thu, 03 Jun 2021 17:16:37 +0000 (UTC)',
 'Fri, 7 May 2021 23:51:12 +0000 (UTC)',
 'Wed, 5 May 2021 23:19:08 +0000 (UTC)']